{% extends 'base.html' %}

{% block title %}Food Tracker | Home{% endblock %}

{% block content %}

    <div class="container  col-sm-6 col-sm-offset-3" role="main">
      <div class="row">
        <div>
          <form method="POST" action="/">
            <div class="form-group">
              <label for="new-day">New Day</label>
              <input type="date" class="form-control" name="entry-date" id="new-day">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
          {% for day in log_dates %}
          <div class="mt-4"></div>
          <div class="card">
            <div class="card-header text-light bg-primary">
              <h4 class="card-title">{{day.pretty_date}}</h4>
            </div>

            <div class="card-body">
              <ul class="nav nav-pills" role="tablist">
                <li class="nav-item"><a class="nav-link">Protein: <span class="badge badge-pill badge-secondary">100</span></a></li>
                <li class="nav-item"><a class="nav-link">Carbohydates: <span class="badge badge-pill badge-secondary">200</span></a></li>
                <li class="nav-item"><a class="nav-link">Fat: <span class="badge badge-pill badge-secondary">50</span></a></li>
                <li class="nav-item"><a class="nav-link">Calories: <span class="badge badge-pill badge-secondary">1650</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('view', date=day.entry_date) }}">View Detail</a></li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}